In [1]:
import pandas as pd

df = pd.read_csv("roomdetail_final.csv")


df

      room_number            room_types room_price                                           room_img
0           50000                  로즈마리     100000  //image.goodchoice.kr/resize_370x220/affiliate...
1           50000                  베고니아     110000  //image.goodchoice.kr/resize_370x220/affiliate...
2           50000                  아이리스     110000  //image.goodchoice.kr/resize_370x220/affiliate...
3           50000                   쟈스민     110000  //image.goodchoice.kr/resize_370x220/affiliate...
4           50000                   크로바     110000  //image.goodchoice.kr/resize_370x220/affiliate...
...           ...                   ...        ...                                                ...
1213        50699               스탠다드 쿼드     240000  https://image.goodchoice.kr/resize_370x220/aff...
1214        50699   [조식 2인 패키지] 스탠다드 온돌     220000  https://image.goodchoice.kr/resize_370x220/aff...
1215        50699  [조식 2인 패키지] 스탠다드 플러스     220000  https://image.goodchoice.kr/resize_370x220/aff...
1216        50699   [조식 2인 패키지] 스탠다드 쿼드     260000  https://image.goodchoice.kr/resize_370x220/aff...
1217        50699         주니어 스위트 (투베드)     300000  https://image.goodchoice.kr/resize_370x220/aff...

[1218 rows x 4 columns]

In [42]:
count_blank = 0
count_null = 0
null_df = df.isnull()

for i in range(len(df)):
    if df.loc[i]["room_types"] == " ":
        count_blank += 1
    if null_df["room_price"][i] == True:
        df["room_price"][i] = " "
        count_null += 1

In [43]:
print(count_blank , count_null)

42 0

In [44]:
df.isnull().sum()

room_number    0
room_types     0
room_price     0
room_img       0
dtype: int64

In [46]:
df.loc[40]["room_price"]

' '

In [48]:
df.to_csv("roomdetail_final_2.csv", mode='w', index=False)

In [61]:
type(df["room_number"].values.tolist())

list

In [57]:
for i in range(len(df)):
    df["room_number"][i] = int( df["room_number"][i])

C:\Users\Ando\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [63]:
lst = df["room_number"].values.tolist()

In [64]:
type(lst[0])

int