In [ ]:

import pandas as pd

name = ["도현" , "병철" , "영화" , "현기"]
sex = ["M", "M" , "F", "M"]
glass = [True,True,False,False]

add = [1,3,5,2]

df = pd.DataFrame({"Name" : name , "Sex" : sex , "glass" : glass})
df["취직"] = ["취직" , "백수"]*2

ad_df = pd.Series(add , name = "등수")
print(df)
print(ad_df)

df.join(ad_df)

In [58]:
import pandas as pd

name = ["도현" , "병철" , "영화" , "현기"]
sex = ["M", "M" , "F", "M"]
glass = [True,True,False,False]
df = pd.DataFrame({"Name" : name , "Sex" : sex , "glass" : glass})
df

  Name Sex  glass
0   도현   M   True
1   병철   M   True
2   영화   F  False
3   현기   M  False

In [64]:
lst = [["도현" , "M" , "True"] , ["병철" , "M" , "True"] , ["영화" , "F" , "False"] , ["현기" , "M" , "False"]]       
df = pd.DataFrame(lst , columns = ["Name","Sex","glass"])
df

  Name Sex  glass
0   도현   M   True
1   병철   M   True
2   영화   F  False
3   현기   M  False

In [68]:
type(df[ ["Name" , "Sex"]])

pandas.core.frame.DataFrame

In [71]:
df["Name" == "도현"]

SyntaxError: invalid syntax (<ipython-input-71-a0285aa2658b>, line 1)

In [ ]:

> "데이터프레임" - 객체

>>> 칼럼값 (속성)

> 칼럼값 찾아서 선택

df["Col1"]
df["Col1" , "Col2" , "Col3"]

> 모든 칼럼값들 추출하는법?


>>> 로우값

>

In [ ]:


c1 = (df['취직'] == '취직') & (df['Sex'] == 'M')
c2 = (df['취직'] == '취직') | (df['Sex'] == 'M')

print(c1)
print(c2)

In [ ]:
a = 2

a == 3

In [5]:
#-*- encoding: utf-8 -*-
# 제한된 읽기상태면 풀어줘야댐

df = pd.read_excel('./외래객입국_목적별_국적별.xlsx' , engine= 'openpyxl')
df[1]

KeyError: 1

In [51]:
# 제한된 읽기상태면 풀어줘야댐
import pandas as pd
df = pd.read_excel('./외래객입국_목적별_국적별.xlsx' , engine= 'openpyxl')

print(df)

type(df.values)

df.columns

        시점 Unnamed: 1   미국(명)    대만(명)    일본(명)    중국(명)   홍콩(명)
0   2010.0         관광  475886   397162  2945647  1011800  219058
1      NaN         공용   20817       83     1206     3106      13
2      NaN         상용   12969      539    17337   136091     681
3      NaN       유학연수    1772     1137     5766   106456     352
4      NaN         기타  141445     7431    53053   617704    8478
5   2011.0         관광  486593   416467  3206659  1312511  271015
6      NaN         공용   15825       35     1271     3303       1
7      NaN         상용   11042      685    18757    98795     474
8      NaN       유학연수    1983     1326     6703   113994     386
9      NaN         기타  146060     9695    55661   691593    8973
10  2012.0         관광  522154   532890  3423218  2033665  350030
11     NaN         공용   14934       44     1839     4318       8
12     NaN         상용    6702      656    20797    72306     364
13     NaN       유학연수    2072     1383     8075   103856     522
14     NaN         기타  152004    13260    64863   622747    9103
15  2013.0         관광  529922   523806  2633959  3139867  388483
16     NaN         공용   15306       61     1753     3162       5
17     NaN         상용   10809     5108    27292   126011     919
18     NaN       유학연수    2456     1869     8976   102433     901
19     NaN         기타  163822    13818    75770   955396   10127
20  2014.0         관광  573530   629182  2173166  4772800  546490
21     NaN         공용   17943       84     2026     3174       9
22     NaN         상용   10955      741    27999   101959    1282
23     NaN       유학연수    2739     2262     8269   107556    1227
24     NaN         기타  165138    11414    68974  1141376    9369
25  2015.0         관광  573194   504233  1742531  4712133  511703
26     NaN         공용   20369      104     2170     4554      10
27     NaN         상용    7109      620    25400    51422     603
28     NaN       유학연수    3104     2573     8200   138860    1625
29     NaN         기타  163837    10660    59481  1077201    9486
30  2016.0         관광  659657   816953  2213099  6948372  638838
31     NaN         공용   23715      141     1821     4098      14
32     NaN         상용    5237      709    25220    51163     668
33     NaN       유학연수    3396     2931     8790   170627    1895
34     NaN         기타  174181    12731    48963   893462    9261
35  2017.0         관광  654986   907065  2223214  3116505  643973
36     NaN         공용   27341      189     1715     1998      40
37     NaN         상용    4579      798    24372    42861     475
38     NaN       유학연수    3952     3744    10122   202658    2187
39     NaN         기타  178023    13820    52024   805331   11356
40  2018.0         관광  748967  1095329  2864110  3701973  669960
41     NaN         공용   28027      196     2268     4014      27
42     NaN         상용    4041      907    23368    42257     603
43     NaN       유학연수    4139     4187    10569   213930    2420
44     NaN         기타  182818    14714    48212   827338   10808
45  2019.0         관광  809004  1238842  3179436  4893429  679916
46     NaN         공용   34796      189     2041     4955      42
47     NaN         상용    4656      993    23893    43995     684
48     NaN       유학연수    5176     4847    12845   238209    2772
49     NaN         기타  190406    15622    53491   842433   11520
50  2020.0         관광   97800   161079   406636   450161   86456
51     NaN         공용   10490       50      285      152      10
52     NaN         상용    1123      351     4953     4927     149
53     NaN       유학연수    1553     1368     4286    56013     752
54     NaN         기타   84249     3305    12377   158016    1363

numpy.ndarray

In [25]:
import pandas as pd
df = pd.read_excel('./외래객입국_목적별_국적별.xlsx' , engine= 'openpyxl')
df[:][2]

KeyError: 2

In [47]:

import numpy as np
import pandas as pd

ser = pd.Series(np.random.randint(10, 20, 5), index = list('aacae'))
print(ser)

# 시리즈 특정 값 출력
print("")
print( ("ser[3] : {} , ser[a] : {}".format(ser[3] , ser["a"])))
print("")

# 인덱스/벨류 
print("시리즈 인덱스 : " , ser.index)
print("시리즈 벨류 : " , ser.values )

a    14
a    17
c    10
a    10
e    10
dtype: int32

ser[3] : 10 , ser[a] : a    14
a    17
a    10
dtype: int32

시리즈 인덱스 :  Index(['a', 'a', 'c', 'a', 'e'], dtype='object')
시리즈 벨류 :  [14 17 10 10 10]

In [44]:
# 시리즈 사칙연산
lst = [100,1,1000,50,200]
ser.values + lst

array([ 118,   13, 1012,   67,  214])

In [28]:

ser1 = pd.Series(np.random.randint(10, 20, 5), index = list('abcde'))
lst1 = [1,2,3]
lst2 = [3,4,5]

lst3 = lst1 + lst2
print(lst3)

lst5 = lst1*2
print(lst5)

lst4 = ser1.values*2
print(lst4)

ser1[4] + 5

[1, 2, 3, 3, 4, 5]
[1, 2, 3, 1, 2, 3]
[34 38 26 32 30]

20

In [12]:
lst1 + lst2

[1, 2, 3, 3, 4, 5]

In [37]:
ser1.values*5

array([50, 75, 65, 85, 65])

In [50]:
type(ser1.index)

pandas.core.indexes.base.Index

In [56]:
print(ser1)
ser1.index

ser1.index[2]
type(ser1.index[2])

a    10
b    15
c    13
d    17
e    13
dtype: int32

str

In [76]:
ds = {'Name': pd.Series(['Choi', 'Kim', 'Lee', 'Park']),

      'Age': pd.Series([25, 26, 25, 23]),

      'Rating': pd.Series([2.56, 3.20, 4.6, 3.8])}

df = pd.DataFrame(ds)

df.shape

(4, 3)

In [78]:
df.

(4,)